<!DOCTYPE html>
<html>
  <body>
    <h1>{{ cms:page:header:string }}</h1>
    {{ cms:page:content:text }}

    <!-- You can add as many blocks as you want -->
    {{ cms:page:another_block:rich_text }}
  </body>
</html>